<div [formGroup]="formGroup">
    <div class="row mb-3">
        <label for="name" class="col-2 col-form-label">name</label>
        <div class="col-4"><input type="text" formControlName="name" id="name" class="form-control" /></div>
    </div>

    <div class="row mb-3">
        <div class="col-2">independent</div>
        <div class="col-3"><input type="checkbox" formControlName="independent" id="independent" class="form-check-input" /></div>
    </div>

    <div class="row mb-3">
        <label for="level" class="col-2 col-form-label">level</label>
        <div class="col-4">
            <select formControlName="level" id="level" class="form-select">
                @for (level of techLevel; track level) {
                    <option [ngValue]="level.value">{{ level.key }}</option>
                }
            </select>
        </div>
    </div>

    <hr />

    @if (formGroup.controls.level.value === "OFFLINE") {
        <app-offline-form [formGroup]="formGroup.controls.offline"></app-offline-form>
    } @else if (formGroup.controls.level.value === "ONLINE") {
        <app-online-form [formGroup]="formGroup.controls.online"></app-online-form>
    } @else if (formGroup.controls.level.value === "EXPERT") {
        <app-expert-form [formGroup]="formGroup.controls.expert"></app-expert-form>
    }
</div>
