<div [formGroup]="formGroup">
    <div class="row mb-3">
        <label for="name" class="col-2 col-form-label">name</label>
        <div class="col-4"><input type="text" formControlName="name" id="name" class="form-control" /></div>
    </div>

    <div class="row mb-3">
        <div class="col-2">sex</div>
        <div class="col-3"><input type="checkbox" formControlName="sex" id="sex" class="form-check-input" /></div>
    </div>

    <div class="row mb-3">
        <label for="level" class="col-2 col-form-label">level</label>
        <div class="col-4">
            <select formControlName="level" id="level" class="form-select">
                @for (level of techLevel; track level) {
                    <option [ngValue]="level.value">{{ level.key }}</option>
                }
            </select>
        </div>
    </div>

    <hr />

    @if (formGroup.controls.level.value === "OFFLINE") {
        <div formGroupName="offline">
            <div class="row mb-3">
                <label for="tel" class="col-2 col-form-label">tel</label>
                <div class="col-4">
                    <input type="tel" formControlName="tel" id="tel" class="form-control" />
                </div>
            </div>

            <div class="row mb-3" formGroupName="sub">
                <label for="income" class="col-2 col-form-label">income</label>
                <div class="col-4">
                    <input
                        type="number"
                        formControlName="income"
                        id="income"
                        class="form-control"
                        [ngClass]="sub.controls.income.errors ? 'is-invalid' : 'is-valid'"
                    />
                </div>
            </div>
        </div>
    } @else if (formGroup.controls.level.value === "ONLINE") {
        <div formGroupName="online">
            <div class="row mb-3">
                <label for="email" class="col-2 col-form-label">email</label>
                <div class="col-4">
                    <input type="email" formControlName="email" id="email" class="form-control" />
                </div>
            </div>

            <div class="row mb-3" formGroupName="sub">
                <label for="income" class="col-2 col-form-label">income</label>
                <div class="col-4">
                    <input
                        type="number"
                        formControlName="income"
                        id="income"
                        class="form-control"
                        [ngClass]="sub.controls.income.errors ? 'is-invalid' : 'is-valid'"
                    />
                </div>
            </div>
        </div>
    } @else if (formGroup.controls.level.value === "EXPERT") {
        <div formGroupName="offline">
            <div class="row mb-3">
                <label for="url" class="col-2 col-form-label">site</label>
                <div class="col-4">
                    <input type="url" formControlName="url" id="url" class="w-100" class="form-control" />
                </div>
            </div>

            <div class="row mb-3" formGroupName="sub">
                <label for="income" class="col-2 col-form-label">income</label>
                <div class="col-4">
                    <input
                        type="number"
                        formControlName="income"
                        id="income"
                        class="form-control"
                        [ngClass]="sub.controls.income.errors ? 'is-invalid' : 'is-valid'"
                    />
                </div>
            </div>
        </div>
    }
</div>
